body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 22, 53);
    font-family: 'Courier New', Courier, monospace;
    color: #ccc;
}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
button {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    color: white;
    border: white solid 1px;
    background-color: rgb(0,0,0,0.3);
}
.navbar-toggler{
    width: auto;
}
.light {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    color: white;
    border: solid grey 1px;
    background-color: rgb(255,255,255,0.6);
}
.dark {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    color: white;
    border: white 0px solid;
    background-color: rgb(0,0,0,0.3);
}
.a-white{
    color: white;
}
.a-blue{
    color: darkblue;
}

.fundo{
    background-image: url("./img/chita.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.cowries{
    background-image: url("./img/cowries.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
img{
    width: 100%;
}
.img2{
    width: 90%;
}
.card{
    width: 100%;
    background-color: rgb(0,0,102,0.0);
}
a {
    color: #c00;
}
a:hover{
    color: white;
    text-decoration: none;
}
.btn{
    width: auto;
}
.divider{
    color: #900;
    width: 25%;
}
.darkred{
    background-color: #400;
}
.darkgrey{
    background-color: #444;
}
.darkgreen{
    background-color: #003300;
}
.darkyellow{
    background-color: darkgoldenrod;
}